<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{translateTitle(currentNode)}}</h3>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th trspan="comments"></th>
        <th trspan="regexps"></th>
        <th trspan="rules"></th>
        <th class="th_rulesAuthnLevel" trspan="rulesAuthnLevel"></th>
        <th class="th_rulesAuthnLevel" />
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="s in currentNode.nodes">
        <td ng-if="s.re!='default'">
          <input class="form-control" ng-model="s.comment" ng-change="changeRuleTitle(s)"/>
        </td>
        <td ng-if="s.re!='default'">
          <input class="form-control" ng-model="s.re" ng-change="changeRuleTitle(s)"/>
        </td>
        <td ng-if="s.re=='default'">
          <p><strong><span trspan="defaultRule"></span></strong></p>
        </td>
        <td ng-if="s.re=='default'">
          <input class="form-control" placeholder="default" readonly/>
        </td>
        <td>
          <input class="form-control" ng-model="s.data"/>
        </td>
        <td ng-if="s.re!='default'">
          <input type="number" class="form-control" ng-model="s.level"/>
        </td>
        <td ng-if="s.re=='default'">
          <input class="form-control" placeholder="default" readonly/>
        </td>
        <td>
          <span ng-if="s.re!='default'" class="link text-danger glyphicon glyphicon-minus-sign" ng-click="del(currentNode.nodes,$index)"/>
          <span ng-if="$last" class="link text-success glyphicon glyphicon-plus-sign" ng-click="menuClick({title:'newRule'})"/>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<script type="text/menu">
[{
  "title": "newRule",
  "icon": "plus-sign"
}]
</script>
